body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.button {
    height: 35px;
    width: 130px;
    background-color: #061E29;
    border: none;
    border-radius: 5px;
    text-align: center;
    color: #F3F4F4;
    font-weight: bold;
    font-size: 0.9rem;
    cursor: pointer;
    padding: 10px 25px;
    margin: 0 40px;
}

a {
    text-decoration: none;
    color: #F3F4F4;
}

.button:hover {
    background-color: #5F9598;
    color: #061E29;
    border: #061E29 solid 1px;
}

.top-section {
    height: 50px;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #F3F4F4;
    border-bottom: solid 1px #1D546D;
}

.top-container {
    max-width: 960px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.main-section {
    margin: 50px 0;
    display: flex;
    justify-content: center;
    font-size: 0.8rem;
    color: #061E29;
}

.grid-container {
    display: grid;
    max-width: 960px;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: auto auto auto auto auto auto;
    background-color: #F3F4F4;
}

.top-box-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-box-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    font-size: 0.9rem;
    padding: 10px 20px 30px;
    transition-duration: .5s;
}

.top-box-2:hover {
    background-color: #061E29;
    color: #F3F4F4;
}

.top-h3 {
    line-height: 1.8;
}

#image {
    height: 200px;
    border-radius: 50%;
    margin-top: 20px;
    transition-duration: .5s;
}

.box {
    padding: 0 20px 20px 20px;
    text-align: justify;
    line-height: 1.5;
}

.box ul {
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.box li {
    list-style-type: square;
}

.box-1 {
    background-color: #1D546D;
    color: #F3F4F4;
}

.contact ul {
    padding-left: 30px;
}

.contact {
    line-height: 2.5;
    padding: 0 0 20px 30px;
    transition-duration: .5s;
}

.phone {
    list-style-image: url(./Icons/telephone-fill.svg);
}

.email {
    list-style-image: url(./Icons/envelope-fill.svg);
}

.adress {
    list-style-image: url(./Icons/geo-alt-fill.svg);
}

.webpage {
    list-style-image: url(./Icons/browser-chrome.svg);
}

.webpage a {
    text-decoration: none;
    color: currentColor;
}

#education {
    transition-duration: .5s;
}

.work {
    grid-row: 2 / span 3;
    grid-column: 2 / span 1;
}

.firm {
    display: flex;
    justify-content: space-between;
}

.firm p {
    margin: 0;
    font-family: Tahoma, sans-serif;
    font-weight: bold;
    font-size: 15px;
}

.job {
    margin: 0;
    font-weight: bold;
    font-size: 14px;
}

.affairs {
    grid-row: 6 / span 1;
    grid-column: 1 / span 2;
    background-color: #F3F4F4;
    color: #061E29;
    transition-duration: .5s;
}

.affairs:hover {
    background-color: #061E29;
    color: #F3F4F4;
}

.bottom-section {
    height: 50px;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    background-color: #F3F4F4;
    border-top: solid 1px #1D546D;
}

.bottom-container {
    width: 960px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: #061E29;
    font-size: 12px;
    margin: 10px 0;
}

.copy {
    /*height: 35px;*/
    width: 30px;
    /*text-align: center;*/
}

@media (min-width: 768px) {
    .contact:hover {
        background-color: #F3F4F4;
        color: #061E29;
        border: solid 1px #1D546D;
        box-shadow: 5px 5px 5px #5F9598;
        font-weight: bold;
        transform: scale(1.02);
    }

    #education:hover {
        background-color: #F3F4F4;
        color: #061E29;
        border: solid 1px #1D546D;
        box-shadow: 5px 5px 5px #5F9598;
        transform: scale(1.02);
    }

    #image:hover {
        transform: scale(1.17);
    }
}

@media (max-width: 992px) {
    .grid-container {
        margin: 0 10px;
    }

    .top-container {
        margin: 10px 10px;
    }

    .bottom-container {
        margin: 10px 10px;
    }
}

@media (max-width: 768px) {
    .grid-container {
        display: flex;
        flex-direction: column;
        margin: 0;
    }

    .top-box-1 {
        background-color: #1D546D;
    }

    .contact:hover {
        background-color: #F3F4F4;
        color: #061E29;
        border: solid 1px #1D546D;
        font-weight: bold;
    }

    #education:hover {
        background-color: #F3F4F4;
        color: #061E29;
        border: solid 1px #1D546D;
    }

    .button {
        width: 140px;
    }

    .kmf {
        display: none;
    }

    /*.copy {
        height: 35px;
        width: 100px;
        text-align: center;
        font-size: 0.7rem;
    }*/
}